[submodule "project/thrift"]
	path = project/thrift
	url = git@github.com:mapleelpam/programnode-transport-protocol.git
[submodule "project/pn-translator"]
	path = project/pn-translator
	url = git@github.com:mapleelpam/programnode-translator.git
[submodule "project/asc"]
	path = project/asc
	url = git@github.com:mapleelpam/adobe-asc-thrift.git
[submodule "project/complex-test"]
	path = project/complex-test
	url = git@github.com:mapleelpam/complex-pn-testcases.git
